{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
        {% for book in books %}
            <div class="book col-md-4">
                <h2>{{ book.name }}</h2>
                <p>Автор: {{ book.author }}</p>
                <p>Дата публикации: {{ book.pub_date }}</p>
            </div>
        {% endfor %}
            </div>
        </div>
    </div>
   
   <a href = '{% url 'books' %}{{ previous_book }}'> <buttom> {{ previous_book }} </buttom></a> 
   <a href = '{% url 'books' %}{{ next_book }}'> <buttom> {{ next_book }} </buttom></a> 
  
  
{% endblock %}